In [1]:
import numpy as np
import pandas as pd
import gc
import time

from sklearn.model_selection import train_test_split

from tqdm import tqdm

import warnings
from time import time

In [2]:
%%time
train = pd.read_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/train_le.csv')
test = pd.read_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/test_le.csv')

CPU times: user 779 ms, sys: 60.5 ms, total: 839 ms
Wall time: 838 ms

In [3]:
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,0,8,0,1,1,33,0,44,54,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,0,8,0,0,4,33,8,48,3,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,0,10,0,0,4,33,0,30,38,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,0,10,0,2,4,33,0,50,3,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,0,8,6,1,4,33,2,32,54,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [4]:
target = train[['target']].values
train.drop(['target', 'id'], axis=1, inplace=True)
test.drop(['id', ], axis=1, inplace=True)

In [5]:
xgtrain, xgval, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=42)

In [6]:
xgtrain['target'] = y_train
xgval['target'] = y_val

In [7]:
xgtrain.to_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/xgtrain.csv', index=False)
xgval.to_csv('../../TPS_2021/input/tabular-playground-series-mar-2021/xgval.csv', index=False)